[mysqld]
# MySQL server configuration options
bind-address = 54.183.247.172
port = 3306
max_connections = 100

# Logging
log-error = /var/log/mysql/error.log

# Character Set
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# Custom settings
# Add any additional custom settings here

[mysql]
# MySQL client configuration options

[mysqldump]
# MySQL dump configuration options

